@charset "UTF-8";
/* ---------------------------------
 *        header style
 * --------------------------------- */
.header{width:100%;background:white;transition:all 0.5s;box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);}

/* ---------------------------------
 *        navigation style
 * --------------------------------- */
.nav{display:flex;justify-content:space-between;align-items:center;height:60px;position:relative;}
.nav .logo{display:flex;justify-content:center;align-items:center;width:auto;height:100%;margin-left:20px;}
.nav .logo a{font-size:25px;} 
.nav .menu{display:flex;height:100%;}
.nav .menu .menu-item{height:100%;}
.nav .menu .menu-item a{display:flex;flex-direction:column;justify-content:center;align-items:center;width:100px;height:100%;}
.nav .menu .menu-item a .icon-wrap i{font-size:25px;transition:all 0.3s;color:#6E6E6E;}
.nav .menu .menu-item a .text-wrap{font-size:12px;color:#424242;}
.nav .menu .menu-item a:hover .icon-wrap i{font-size:27px;color:#0174DF;} 
.nav .menu .menu-item a:hover .text-wrap{color:#0174DF;}

.nav .menu .menu-item .menu-profile-wrap{display:flex;justify-content:center;align-items:center;width:100%;height:100%;}  
.nav .menu .menu-item .menu-profile-wrap .img-wrap{width:32px;height:32px;border-radius:100%;overflow:hidden;margin-right:5px;transition:all 0.5s;}
.nav .menu .menu-item .menu-profile-wrap .img-wrap img{width:100%;height:100%;}
.nav .menu .menu-item .menu-profile-wrap .text-wrap{font-weight:bold;}
.nav .menu .menu-item .menu-profile-wrap:hover .text-wrap{color:#0174DF;}


 
.login-menu{margin-right:20px;cursor:pointer;position:relative;}
.login-menu .menu-item .menu-profile-dropbox{display:none; position:absolute;right:0;top:80%; background:white;width:200px;box-shadow:0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
border-radius:10px;} 
.login-menu .menu-item .menu-profile-dropbox .dropbox-item{display:flex;justify-content:center;align-items:center;width:100%;padding:5px;}
.login-menu .menu-item .menu-profile-dropbox .dropbox-item i{font-size:25px;color:#6E6E6E;margin-bottom:5px;transition:all 0.3s;}
.login-menu .menu-item .menu-profile-dropbox .dropbox-item span{font-size:16px;color:#424242;}
.login-menu .menu-item .menu-profile-dropbox .dropbox-item:hover i{font-size:27px;color:#0174DF;} 
.login-menu .menu-item .menu-profile-dropbox .dropbox-item:hover span{color:#0174DF;}

 
 
 

/* ---------------------------------
 *        데스크탑 화면
 * --------------------------------- */
@media (min-width:1024px){
    
}

/* ---------------------------------
 *        태블릿 화면
 * --------------------------------- */
@media (min-width:768px) and (max-width:1023px){
	.header{height:120px;}
	.nav{flex-wrap:wrap;justify-content:center;}
	.nav .logo{width:100%;}
}

/* ---------------------------------
 *        모바일 화면
 * --------------------------------- */
@media screen and (max-width:767px){ 
	.header{height:120px;}
	.nav{flex-wrap:wrap;justify-content:center;}
	.nav .logo{width:90%;justify-content:flex-start;} 
	.nav .main-menu{display:flex;justify-content:center;width:100%;}
	.nav .main-menu .menu-item{flex:1;display:flex;justify-content:center;}
	.nav .logout-menu{position:absolute;top:0px;right:0px;}
	.nav .login-menu{position:absolute;top:0px;right:0px;}
}